@import url("./reset.css");

.parallax {
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* my styles */
    display: flex;
    align-items: center;
    justify-content: center;

    
  }

  .main-image { 
    /* Set a specific height */
    min-height: 100vh; 
    background-image: url("https://www.invitafy.com/Bodas/V2/Premium/images/portada_x1.jpg");
  }

  .main-image::before,
  .counter::before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .fix-header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    border-bottom: 1px solid #f1f1f1;
    background-color: rgb(246, 246, 246);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 0;
  }

  h1 {
    font-family: 'Great Vibes', cursive;
    color: white;
    font-size: 90px;
    z-index: 1;
  }

  h1 p {
    text-align: center;
    z-index: 5;
  }

  p.fixed-header {
    font-family: 'Cormorant', serif;
    font-size: 28px;
    color: #616161;
    line-height: 1.2;
  }

  p.fixed-subheader {
    font-family: 'Roboto', serif;
    color: #868686;
    padding: 3px 0 0;
    font-weight: 500;
  }

  .first-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #fafafa;
    text-align: center;
  }

  .first-block img {
    height: 3rem;
  }

  .first-block p {
    margin: 20px 0;
    font-family: "Cormorant", serif;
    font-size: 28px;
    color: #616161;
}

.counter {
    position: relative;
    color: #F6F6F6;
    /* Set a specific height */
    min-height: 513px; 
    /* The image used */
    background-image: url("https://www.invitafy.com/Bodas/V2/Premium/images/counter_x1.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    box-sizing: border-box;
    z-index: 1;
}
.counter div {
    z-index: 5;
}
.counter .counter-one {
    text-transform: none;
    font-weight: 300;
    font-size: 50px;
    font-family: "Cormorant", serif;
    margin-bottom: 20px;
}

.counter .counter-two { 
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 50px;
}

.counter .counter-time {
    position: relative;
    border: 1px solid white;
    display: flex;
    font-size: 48px;
    font-family: 'Mali', cursive;
    padding: 20px 30px;
    justify-content: space-between;
    width: 60%;
    box-sizing: border-box;
}

.counter .counter-time::after {
    content: 'Faltan';
    position: absolute;
    top: -13px;
    left: 50%;
    font-size: 20px;
    transform: translateX(-50%);
    padding: 3px 15px;
    background-color: white;
    color: black;
}

.counter .counter-time > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.counter .counter-time > div p:first-of-type {
    font-size: 48px;

}

.counter .counter-time > div p:last-of-type {
    font-size: 32px;
}

.historia {
  padding: 90px;
  background-image: url(https://miboda.love/endPoint/generador/img/comillas.svg);
  background-repeat: no-repeat;
  background-size: 60px;
  background-position-x: 90px;
  background-color: #F9F4EF;
  background-position-y: 49px;
}

.historia p {
  font-size: 18px;
  text-align: center;
  color: #515151;
  font-family: 'Poiret One', cursive;
  margin-bottom: 15px;

}


.historia .propuesta { 
  font-size: 46px;
  text-align: center;
  font-family: 'Tangerine', cursive;
  margin-bottom: 15px;
  color: #555;
}

.padres { 
  background-color: #fafafa;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.padres > p {
  color: #838282;
  font-weight: 300;
  font-size: 50px;
  font-family: "Cormorant", serif;
}

.padres > div {
  display: flex;
  text-align: center;
  margin-top: 30px;
}

.padres > div img {
  height: 2rem;
}

.padres > div div {
  margin: 30px 30px 0;
}

.padres > div p {
 color: rgb(182, 157, 117);
 font-family: "Cormorant", serif;
 font-size: 28px;
 margin-bottom: 15px;
}

.padres > div p span {
  color: black;
}

.tns-outer {
  overflow: hidden;
  position: relative;
}
.tns-liveregion.tns-visually-hidden {
  display: none;
}

.tns-controls {
  display: inline-flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    /* margin-top: -17px; */
    position: absolute;
    top: 50%;
    /* margin: 0 10px; */
    transform: translateY(-50%);
    width: 100%;
}

.tns-controls button {
  color: rgb(182, 157, 117);
    outline: none;
    border: none;
    background-color: white;
    padding: 10px;
    margin: 0 15px;
    font-weight: 700;
    border-radius: 22px;
    border: 1px solid rgb(182, 157, 117);
    cursor: pointer;
}

.tns-nav {
  position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 5;
    margin-bottom: 20px;
    display: flex;
    width: 200px;
    justify-content: space-between;
    transform: translateX(-50%);
}

.tns-nav button {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  cursor: pointer;
  border: 1px solid rgb(182, 157, 117);

}

.tns-nav button.tns-nav-active {
  background-color: rgb(182, 157, 117);
  border-color: white;
}

h3.padrinos,
.itinerario-separator {
  background-color: #b69d75;
  color: white;
  font-family: "Cormorant", serif;
  font-weight: 300;
  font-size: 50px;
  padding: 30px 15px;
  text-align: center;
}

#slider {
  height: 500px;
}

.slider .slide {
  display: inline-flex;
  padding: 90px;
  box-sizing: border-box;
  height: 100%;
}

.slide .content {
  text-align: center;
    width: 100%;
    position: relative;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: "Cormorant", serif;
}

.slide .content::after,
.slide .content::before {
    height: 1px;
    background: #e8e8e8;
    background: -webkit-gradient(linear, left top, right top, from(rgba(51, 51, 51, 0)), color-stop(35%, rgba(51, 51, 51, 0.09)), color-stop(70%, rgba(51, 51, 51, 0.09)), to(rgba(51, 51, 51, 0)));
    background: linear-gradient(to right, rgba(51, 51, 51, 0) 0%, rgba(51, 51, 51, 0.09) 35%, rgba(51, 51, 51, 0.09) 70%, rgba(51, 51, 51, 0) 100%);
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
}

.slide .content::after {
  bottom: -1px;
}

.slide .content::before {
  top: -1px;
}

.slide .content .fa {
  font-size: 90px;
  color: #b69d75;
}

.content .p-1 {
  font-size: 24px;
  color: #616161;
}

.content .p-2 {
  font-size: 28px;
  color: #616161;
}

.content .p-3 {
  font-size: 28px;
  color: rgb(182, 157, 117);
}

.itinerario-separator {
  background-color: rgb(182, 157, 117);
  padding: 30px 15px;
  color: white;
}

p.itinerario {
  padding: 45px;
  text-align: center;
  font-size: 28px;
  font-family: "Cormorant", serif;
}

.itinerario-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Cormorant", serif;
}

.itinerario-block p {
  font-size: 28px;
  color: #616161;
}

.itinerario-block p:nth-child(2) {
  font-family: "Cormorant", serif;
  font-weight: 300;
  color: #868686;
  margin: 10px 0;
}

.itinerario-block p:nth-child(4),
.itinerario-block p:nth-child(5) {
  font-family: "Cormorant", serif;
  font-weight: 300;
  text-align: center;
  margin-bottom: 10px;
  font-size: 22px;
}
.itinerario-block p:nth-child(5) {
  font-size: 18px;
  color: #868686;
}


.itinerario-block img {
  width: 310px;
  height: 310px;
  border-radius: 100%;
  margin-bottom: 10px;
}

.itinerario-parent {
  display: flex;
  justify-content: center;
}


@media only screen and (max-width: 768px) {
  .padres > div { 
    flex-direction: column;
  }
  .slider .slide {
    padding: 50px;
  }
  .tns-controls button {
    display: none;
  }
.counter .counter-time {
  width: 100%;
  padding: 20px 10px;
}

.counter .counter-time > div p:first-of-type {
  font-size: 40px;
}

.counter .counter-time > div p:last-of-type {
  font-size: 24px;
}

h3.padrinos,
.itinerario-separator,
.padres > p {
  font-size: 28px;
}

.historia { 
  padding: 60px 45px;
  background-position-x: 8px;
}

.slider .slide {
  padding: 35px 50px 50px;
}

.itinerario-parent { 
  flex-direction: column;
}
.itinerario-parent .itinerario-block:first-of-type {
  margin-bottom: 45px;
}

}